



$body-bg-color : #e0e0e0;
$button-primary: #7abb3e;
$button-primary-light: #bbffa5;
$button-primary-border-color : rgb(6 39 2 / 42%);
$content-bg-color : #ffffff;


$default-font-size: 1.2rem;

$special-text-color-1 : #343dad
